:root {
    --primary-bg: #f0f3fa;
    --background: #111c2d;
    --text-light: #2b2a2c;
    --text-muted: #f04419;
    --highlight: #d5370b;
    --input-border: #ccc;
    --button-bg: #f0f3fa;
    --button-bg-hover: #d5370b;
    --button-border: #d5370b;
  }
  
  .email h2 {
    font-size: 2rem;
    font-weight: bold;
    color: var(--highlight);
    margin-bottom: 20px;
  }
  
  .form-control, textarea {
    background-color: var(--primary-bg);
    border-radius: 4px;
    border: 1px solid var(--input-border);
    padding: 12px;
    font-size: 1rem;
    color: var(--text-light);
    width: 100%;
  }
  
  .form-control:focus, textarea:focus {
    border-color: var(--highlight);
  }
  
  .email button {
    background-color: var(--button-bg);
    color: var(--text-light);
    border: 1px solid var(--button-border);
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
  }
  
  .email button:hover {
    background-color: var(--button-bg-hover);
  }
  
  .email button:disabled {
    background-color: #aaa;
    cursor: not-allowed;
  }
  
  .view-email-list, .hash-verification {
    margin-top: 20px;
  }
  
  .email textarea[readonly] {
    background-color: var(--primary-bg);
    border: 1px solid #ddd;
  }
  
  .view-email-list {
    list-style-type: none;
    padding: 0;
  }
  
  .view-email-list .view-email-item {
    background-color: var(--primary-bg);
    border-radius: 4px;
    padding: 15px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .view-email-list .view-email-item:hover {
    background-color: var(--highlight);
    color: var(--primary-bg);
  }
  
  .view-email-item .email-sender {
    font-weight: bold;
  }
  
  .view-email-item .email-timestamp {
    font-size: 0.9rem;
    color: var(--text-light);
  }
  
  .hash-verification p {
    font-size: 1rem;
    color: var(--text-muted);
  }
  
  .email-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .email-actions button {
    margin-right: 10px;
  }
  
  .compose-email-page, .view-email-page {
    background-color: var(--primary-bg);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .compose-email-page form, .view-email-page form {
    display: flex;
    flex-direction: column;
  }
  
  .compose-email-page textarea, .view-email-page textarea {
    margin-top: 10px;
  }
  
  .compose-email-page button, .view-email-page button {
    width: 100%;
    margin-top: 20px;
  }
  